<div style="text-align: center; background-color: rgb(5, 5, 51);">
<h2 style="color: aliceblue; padding:17px; margin-top: 2px;">Opere di {{pittore}}</h2>
    <div class="card" style='border: solid; background-color: rgb(51, 80, 145); align-items: center; height: 500px; width: 500px; margin-left: auto; margin-right: auto;'>
        <div class="content" style="text-align: center;">
            <p><strong>Opera: {{nome1}} <br>
            Anno: {{anno1}}</strong><br></p>
            <img style="max-width: 350px; max-height: 250px; padding-top: 10px;" class="immagine" src="{{immagine1}}" alt="Image"> <br>
            <p style="margin-left: 50px; margin-right: 50px;">{{descrizione1}}</p>
        </div>
    </div>
    <div class="card" style='border: solid; background-color: rgb(51, 80, 145); align-items: center; height: 430px; width: 500px; margin-left: auto; margin-right: auto;'>
        <div class="content" style="text-align: center;">
            <p><strong>Opera: {{nome2}} <br>
            Anno: {{anno2}}</strong><br></p>
            <img style="max-width: 350px; max-height: 250px; padding-top: 10px;" class="immagine" src="{{immagine2}}" alt="Image"> <br>
            <p style="margin-left: 50px; margin-right: 50px;">{{descrizione2}}</p>
        </div>
    </div>
    <div class="card" style='border: solid; background-color: rgb(51, 80, 145); align-items: center; height: 520px; width: 500px; margin-left: auto; margin-right: auto;'>
        <div class="content" style="text-align: center;">
            <p><strong>Opera: {{nome3}} <br>
            Anno: {{anno3}}</strong><br></p>
            <img style="max-width: 350px; max-height: 250px; padding-top: 10px;" class="immagine" src="{{immagine3}}" alt="Image"> <br>
            <p style="margin-left: 50px; margin-right: 50px;">{{descrizione3}}</p>
        </div>
    </div>
</div>
