<div style="text-align: center; color: aliceblue; background-image: url(../assets/sfondo2.gif); background-size: 100%; padding-top: 1px;">
    <p>Siamo lieti di presentarvi 'Astra & Co', il pionere dei viaggi spaziali commerciali. <br>
        Con una dedizione incrollabile all'innovazione e alla sicurezza, ci impegniamo a portare l'emozione e l'incanto dell'universo direttamente nelle mani dei viaggiatori terrestri. <br>
        Da avventurosi giri intorno alla Terra a epiche escursioni verso la Luna e oltre, offriamo esperienze spaziali senza precedenti, <br>
        garantendo un viaggio sicuro e indimenticabile nell'infinito cosmo. <br>
        Siamo 'Astra & Co', dove il cielo non è più il limite, ma l'inizio di un'incredibile avventura interstellare.</p>
    <img src="../assets/foto.png" style="width: 55%; border-radius: 50px; margin-bottom: 12px;">
</div>