<div style="text-align: center; color: aliceblue; background-color: rgb(28, 78, 126); padding-top: 3px;">
    <p>Siamo lieti di presentarvi 'Astra & Co', il pionere dei viaggi spaziali commerciali. <br>
        Con una dedizione incrollabile all'innovazione e alla sicurezza, ci impegniamo a portare l'emozione e l'incanto dell'universo direttamente nelle mani dei viaggiatori terrestri. <br>
        Da avventurosi giri intorno alla Terra a epiche escursioni verso la Luna e oltre, offriamo esperienze spaziali senza precedenti, garantendo un viaggio sicuro e indimenticabile nell'infinito cosmo. <br>
        Siamo 'Astra & Co', dove il cielo non è più il limite, ma l'inizio di un'incredibile avventura interstellare.</p> <br>
    <img src="../assets/foto.jpg" style="width: 70%; border-color: aliceblue;">
</div>