<div style="width: 100%; text-align: center; background: black;">
  <img src="../assets/mobile-legends-logo.jpg" style="height: 200px;">
</div>
<div class="sfondo" style="width: 100%; text-align: center; margin-left: auto; margin-right: auto; padding-top: 20px; ">
  <p style="color: rgb(211, 234, 255);">Mobile Legends: Bang Bang ( MLBB ) è un gioco MOBA ( mobile multiplayer online battle arena ) sviluppato e pubblicato da Moonton nel 2016.<br>
    Fondamentalmente, il gioco contrappone 2 squadre da 5 l'una contro l'altra in tempo reale, i giocatori devono <br> combattere su tre corsie per conquistare la torre del nemico e difendere la propria. <br>
    Ogni giocatore può controllare un personaggio selezionabile, chiamato Eroe, con abilità e tratti unici. <br>
    Esistono sei ruoli che definiscono lo scopo principale degli eroi: Tank, Marksman, Assassin, Fighter, Mage e Support. <br>
    Questi ruoli determinano le responsabilità dei giocatori per le rispettive squadre. <br>
    I giocatori possono anche impostare build specifiche per gli eroi che includono oggetti ed emblemi di gioco. [
  </p>
  <lista-giocatori></lista-giocatori>
</div>
