<div style="height: 100%; text-align: center; background: black;">
  <img src="../assets/mobile-legends-logo.jpg" style="height: 200px;">
</div>
<div style="width: 70%; text-align: center; margin-left: auto; margin-right: auto;">
  <p>Mobile Legends: Bang Bang ( MLBB ) è un gioco MOBA ( mobile multiplayer online battle arena ) sviluppato e pubblicato da Moonton nel 2016.<br>
    Fondamentalmente, il gioco contrappone 2 squadre da 5 l'una contro l'altra in tempo reale, i giocatori devono combattere su tre corsie per conquistare la torre del nemico e difendere la propria. <br>
    Ogni giocatore può controllare un personaggio selezionabile, chiamato Eroe, con abilità e tratti unici. <br>
    Esistono sei ruoli che definiscono lo scopo principale degli eroi: Tank, Marksman, Assassin, Fighter, Mage e Support. 
  </p>
</div>
<lista-giocatori></lista-giocatori>