<h1>Biografia</h1>
<p>Nato a Phoenix, Alec ha vissuto sia in Arizona sia a New York. Inizia a sviluppare un vivo interesse per la musica durante i suoi anni di scuola superiore, 
   imparando a suonare la chitarra tramite tutorial trovati online; orientato inizialmente verso la carriera di rapper, negli anni cambia idea e si concentra sul pop.
   A partire dal 2012 l'artista inizia a condividere la propria musica e cover tramite YouTube.Nel 2013 pubblica in maniera indipendente il mixtape America.
   Nel 2014 firma un contratto con la Columbia Records per la pubblicazione del suo album d'esordio: l'accordo tuttavia salta. A ciò segue comunque un tour europeo autofinanziato.
   Nel 2017 l'artista firma un nuovo contratto Atlantic Records, occasione in seguito alla quale la musica dell'artista viene trasmessa durante il programma televisivo America's Got Talent.
   Nel 2018 pubblica il suo secondo mixtape Narrated for You, questa volta via Atlantic, ottenendo piazzamenti in classifiche come la Billboard 200 e Bilboard Canadian Albums.
   Nel 2019 l'artista pubblica il singolo Let Me Down Slowly in una doppia versione, da solista e con Alessia Cara, ottenendo il suo primo singolo di successo internazionale.
   Nel maggio 2020 pubblica il suo album di debutto These Two Windows, con cui ottiene vari piazzamenti nelle classifiche internazionali.
   Nel 2022, dopo aver pubblicato altri singoli nel corso degli anni precedenti, l'artista firma un contratto discografico con Elektra Records e pubblica il suo secondo album (Un)Commentary.
</p>
