<table>
    <thead>
    <tr>
        <th>Meme Number</th>
        <th>Meme Name</th>
        <th>Meme Image</th>
        <th>Meme Description</th>
        <th>Like Number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>{{array[0].nome1}}</td>
        <td><img src="../../assets/gattoBasito.png" width="500px"></td>
        <td>{{array[0].descrizione1}}</td>
        <td> <third></third> </td>

    </tr>
    <tr>
        <td>2</td>
        <td>{{array[1].nome2}}</td>
        <td><img src="../../assets/gattoPiangente.png" width="500px"></td>
        <td>{{array[1].descrizione2}}</td>
        <td> <fourth></fourth> </td>
    </tr>
    </tbody>
</table>