<h1>Pokemon di prima generazione</h1>

<p>Kanto è una regione del mondo dei Pokémon. È situata ad est di Johto, a nord-est di Hoenn e a sud-est di Sinnoh. È la prima regione comparsa nella serie e vi sono ambientati i giochi di prima generazione insieme ai loro remake di terza generazione e di settima generazione; <br>
  è inoltre accessibile nei giochi di seconda generazione e nei loro remake di quarta generazione, ma solo dopo aver completato l'avventura nella regione di Johto. Ogni città della regione ha un nome basato sui colori (Celestopoli, Aranciopoli, ...). <br>
  Il Professor Oak è il Professore Pokémon di questa regione, il quale dà agli Allenatori un Pokémon iniziale tra Bulbasaur, Charmander e Squirtle. Nei giochi, il giocatore inizia il suo viaggio a Biancavilla e lo porta a termine sull'Altopiano Blu. <br>
  Kanto è basata sulla vera regione giapponese del Kanto. A differenza di altre regioni, molto specifiche per ogni generazione di appartenenza, questa è esplorabile in ben cinque generazioni, anche se non sempre come regione primaria. <br>
  Gli artwork di prima e seconda generazione dipingono Kanto come una distesa erbosa con pochissimi alberi. In quelli di terza, quarta e settima, invece, si possono notare più alberi e monti.
</p>

<button mat-raised-button color="primary" class="button">Bulbasaur</button>
<button mat-raised-button color="accent" class="button">Charmander</button>
<button mat-raised-button color="warn" class="button">Squirtle</button>