<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<div style="background-color: rgb(78, 85, 92);">
<div class="card"  style="width: 400px;" *ngFor="let element of persone, index as i" [ngStyle]="{'margin-left':'auto', 'margin-right':'auto'}">
    <mat-card class="example-card" [ngStyle]="{'background-color': element.sfondo}">
        <mat-card-header>
            <div class="example-header-image"><img style="height: 75px;" src="{{element.immagine}}"></div>
            <div style="float: right;">
                <mat-card-title>Nome: <strong>{{element.nome}} {{element.cognome}}</strong><br>Telefono: <i>{{element.numero}}</i></mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false"
                                 [ngStyle]="{'background-color': element.sfondo}">
            <mat-expansion-panel-header>
                <mat-panel-title style="color: black ;">Più informazioni sul contatto</mat-panel-title>
            </mat-expansion-panel-header>
                <ng-template *ngIf = "persone[i].isOnline; then bloccoIf else bloccoElse"></ng-template>
                <ng-template #bloccoIf>
                    <div [ngStyle]="{'background-color': 'green', 'border-radius': '50%', 'width': '20px', 'height': '20px'}"></div>
                </ng-template>
                <ng-template #bloccoElse>
                    <div [ngStyle]="{'background-color': 'red', 'border-radius': '50%', 'width': '20px', 'height': '20px'}"></div>
                </ng-template><br>
                <p style="color: black;">
                    Nome: {{element.nome}} <br>
                    Cognome: {{element.cognome}} <br>
                    Età: {{element.eta}} <br>
                    Colore preferito: {{element.colore}}
                </p>
            </mat-expansion-panel>
        </mat-card-content>
    </mat-card>
</div>
</div>